[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "23.11.0"
isort = "5.12.0"
django-crispy-forms = "==1.9"
pillow = "*"
django-imagekit = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
